footer {
	background: #333;
	color: #fff;
	padding: 20px 0 120px 0;
}

body {
	padding-top: 70px;
}

.search-form {
	background: #424242;
	border: 0px;
	color: #fff;
}

/*Login*/
#register{
    position: absolute;
    left: 10px;
}



/*Dialog*/
.modal-header{
    text-align: center;
}
.modal-title{
    font-size: 20px;
    font-weight: bold;
}