footer {
	background: #333;
	color: #fff;
	padding: 20px 0 120px 0;
}

body {}

.search-form {
	background: #424242;
	border: 0px;
	color: #fff;
}


/*Login*/

#exit {
	width: 70px;
}

#register {
	margin-left: 8px;
}


/*Dialog*/

.modal-header {
	text-align: center;
}

.modal-title {
	font-size: 30px;
	font-weight: bold;
}


/*  Slider */

.carousel-inner > .item > img {
	width: 99%;
	margin: auto;
}

#imgae-slider {
	height: 350px;
}

#slider {
	margin-bottom: 30px;
	height: 350px;
}

.thumbImg {
	width: 100%;
	height: 200px;
	margin: auto;
	background-position: center
}

.title-item {
	height: 40px;
}

.iconAvatar {
	max-width: 25px !important;
}

.icon-Login {
	height: 34px;
	width: 34px;
	margin-left: 13px;
}

.inputLogin {
	margin-top: 10px;
	margin-bottom: 10px;
}

.txtLogin {
	font-size: 15px;
}

.messageError {
	font-size: 15px;
	color: #F57C00;
}

.icon-money {
	font-size: 20px;
	color: #F9A825;
	margin-top: 10px;
}

.list-item-detail {
	height: 60px;
}

.txtMoney {
	font-size: 20px;
	color: #F9A825 !important;
}

#googleMap {
	width: 300px;
	height: 180px;
}

#smile {
	color: #0288D1;
}