footer {
	background: #333;
	color: #fff;
	padding: 20px 0 120px 0;
}

body {
	padding-top: 70px;
}

.search-form {
	background: #424242;
	border: 0px;
	color: #fff;
}

.products {
	margin: 10px 0;
	padding: 0 20px;
	border: 0px solid #90A4AE;
	display: inline-block;
}