<div class="row">
	<div class="col-md-6 thumbnail">
		<img src="../img/products/girl.jpg" alt="products">
	</div>
	<div class="col-md-6">
		<div class="page-header">
			<h3>Girl xinh, lạ, hiền</h3>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4>Giá</h4>
			</div>
			<div class="col-md-8">
				<h4>500.000 VND</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4>Tình trạng</h4>
			</div>
			<div class="col-md-8">
				<h4>Còn mới</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4>Thông tin liên hệ</h4>
			</div>
			<div class="col-md-8">
				<h4>Nguyễn Văn A</h4>
				<h4>01368236541</h4>
				<h4>231 Nguyễn Tri Phương</h4>
			</div>
		</div>
	</div>
</div>
<div class="page-header">
	<h4>Thông tin chi  tiết</h4>
</div>
<p>
	It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
</p>