<div class="row">
	<div class="col-md-4 thumbnail">
		<img ng-src="{{product.avatar}}" alt="products">
	</div>
	<div class="col-md-8">
		<div class="page-header">
			<h3>{{product.title}}</h3>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4>Giá</h4>
			</div>
			<div class="col-md-8">
				<h4>{{product.price}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4>Tình trạng</h4>
			</div>
			<div class="col-md-8">
				<h4>{{product.status}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4>Thông tin liên hệ</h4>
			</div>
			<div class="col-md-8">
				<h4>{{product.salesman.name}}</h4>
				<h4>{{product.salesman.address}}</h4>
				<h4>{{product.salesman.phone}}</h4>
			</div>
		</div>
	</div>
</div>
<div class="page-header">
	<h4>Thông tin chi  tiết</h4>
</div>
<p>
	{{product.detail}}
</p>

<div class="comments">
	<div class="fb-comments" data-href="http://www.1312168nchai.esy.es/DoAnCuoiKi/#/detail" data-numposts="4"></div>
</div>