<div class="modal-content">
					<div class="modal-body">
						<label class="txtLogin">Email</label>
						<input class="form-control inputLogin" type="text" ng-model="userEmail">
						<label class="txtLogin">Password</label>
						<input class="form-control inputLogin" type="password" ng-model="userPassword">
						<label class="messageError">{{messageError}}</label>
					</div>
					<div class="modal-footer">
						<div class="row">
							<div class="col-md-2">
								<button id="register" type="button" class="btn btn-default" ng-click="createAccount()">Đăng kí</button>
							</div>
						</div>
					</div>
				</div>